{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-md-8">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{object.title}}</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{object.text}}</li>
                    </ul>
                    <img class="img-fluid" src="{{ object.avatar| mymedia }}" alt="Responsive image">
                    <br>
                    <div class="btn-group">
                        {% if perms.catalog.change_blog and perms.catalog.delete_blog %}
                        <a href="{% url 'catalog:update_blog' object.pk %}" type="button" class="btn btn-sm btn-outline-secondary">Изменить</a>
                        <a href="{% url 'catalog:delete_blog' object.pk %}" type="button" class="btn btn-sm btn-outline-danger">Удалить</a>
                        {% if not object.is_published %}
                            <a href="{% url 'catalog:toggle_public' object.pk %}" type="submit" class="btn btn-sm btn-outline-primary">Опубликовать</a>
                        {% endif %}
                        {% endif %}
                    </div>
                    <br>
                    Просмотры: {{ object.views_count }}
                    <br>
                    {{object.slug}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}